body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

main {
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 12px 24px;
}

a {
    text-decoration: none;
    font-size: 18px;  
    color: #E5E7EB;
}

.qcu-logo {
    width: 50px;
    height: auto;
    margin-right: 500px;
}

.maincontainer {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.intro {
    font-style: roboto;
    color: #F9FAF8;
    font-size: 3rem;
    font-weight: 900;
}

.content h1,
.content p {
    margin: 0;
}

.content p {
  font-style: roboto;
  font-size: 18px;  
  color: #E5E7EB;
  margin-bottom: 24px;
}

.signup {
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 700;
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 8px;
}

.imagecontainer {
   width: 600px;
   height: 400px;
   overflow: hidden;
}

.imagecontainer .qcu-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.fa-information {
    font-size: 3rem;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 48px;
}

.programs {
    display: flex;
    align-items: center;
    gap: 40px;
}

.college {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 24px;
}

.college-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-bottom: 30px;
}

.statement {
    font-size: 20px;
    color: #1F2937;
    font-weight: 900;
}

.quotesection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 50px;
    background-color: #E5E7EB;
}

.mission,
.vision {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 300px;
}

.fa-mission, 
.fa-vision {
font-size: 2rem;
font-weight: 300;
color: #1F2937;
}

h2 {
 font-size: 36px;
 color: #1F2937;
 font-weight: 700;
}

.mission h2,
.vision h2,
.fa-mission,
.fa-vision {
  margin: 0;
}

.mission h2,
.vision h2 {
  margin-bottom: 10px;
}
.whitespace{
    height: 100px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: #1F2937;
    color: white;
}